.dropdown {
  position: relative;
  border: 1px solid lightblue;
}

.dropdown__list {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  margin: 30px;
  padding: 0;
  width: 100px;
  border: 1px solid lightpink;
}

.dropdown__list_opened {
  display: flex;
}
