:root {
  --primary-background: #f3f7fa;
  --text-color: #4b4b4b;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--block-primary-background);
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.section__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1100px;
  width: 80%;
  border: 1px solid lightseagreen;
  height: 100%;
}

p {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: var(--text-color);
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

main {
  height: 2500px;
}

/* Delete later */

header,
footer {
  border: 1px solid lightgrey;
}

.block__container {
  align-items: center;
}